<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="com.face.server.mapper.staffInfo.StaffStatMapper">
    <!--查询所以变动信息-->
    <select id="getAll" resultType="com.face.server.entity.StaffStatEntity" flushCache="true" useCache="false">
        select * from StaffStat;
    </select>
    <!--删除改后的信息，根据EMPID-->
    <delete id="deleteByEMPID">
        delete from StaffStat where empId = ${EMPID}
    </delete>
    <!--删除改后的信息，根据卡号-->
    <delete id="deleteByCard">
        delete from StaffStat where card = ${card}
    </delete>
</mapper>